.center-and-underline {
    text-align: center;
    text-decoration: underline;
    display: block;
}

/* Dropdown Menu */
.dropdown-menu {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-height: none;
    overflow: visible;
}

/* Dropdown Menu Items */
.dropdown-menu a {
    padding: 10px 20px;
    display: block;
    color: #333;
    text-decoration: none;
}

/* Dropdown Menu Items on Hover */
.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.custom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-col {
    flex: 1;
}

.search-container {
    position: relative;
    width: 200px;
    float: right;
}

#searchInput {
    width: 100%;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.boxed-content {
    background-color: #ffffff; /* White background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow */
    padding: 20px; /* Padding around the content */
    max-width: 600px; /* Will take the full width available, up to the parent container */
}

@media screen and (max-width: 360px) and (max-height: 800px) {
    .boxed-content {
        max-width: 360px; /* Will not exceed 360px in width */
        height: 800px;  /* Fixed height at 800px */
    }
}

